:root{
    box-sizing: border-box;
    font-size: 48px;
}

@font-face {
    font-family: 'MyFont';
    /*src: url('./my-font.woff2') format('woff2'),
      url('./my-font.woff') format('woff');*/
    font-weight: 600;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
}

html{
    min-width: 100vw;
    min-height: 100vh;
    /*overflow: hidden;*/
}

body{
    width: 100%;
    height: 100%;
}

.content{ 
    height: 100vh;
    background-color: rgb(44, 26, 5);
    background: url('./assets/background.gif');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5rem;
}

h1,h2,h3,h4,h5,h6{
    color: white;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem
}

.nav>button{
    width: 10rem;
    font-size: .8rem;
    background-color: rgba(255, 166, 0, 0.705);
    border-radius: 10px;
    color: whitesmoke;
    border: 1px solid rgba(255, 166, 0, 0.205);
}

.main, .main-menu, .main-about{
    width: 60%;
    height: 70%;
    text-align: center;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.main-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: .6rem;
}

.main-about{
    display: grid;
    grid-template-rows: .2fr 2fr .5fr;
}

.nav>button, .main, .main-menu, .main-about{
    background: rgba(26, 29, 27, 0.7);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
}

.main>h4, .main-about>h4{
    padding-top: .5rem;
    font-style: italic;
}

.main>p, .main-about>p{
    font-size: .5rem;
    padding: 1rem;
    color: white;
    justify-self: center;
    align-self: center;
}

.main-about>p{
    width: 70%;
    line-height: .7rem;
}

.home-img{
    width: 300px;
    height: 300px;
    margin-top: 1rem;
}

.menu-img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    transition: ease-in .2s;
}

.title{
    color: orange;
    font-style: italic;
}

.contact{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding-bottom: 1rem;
}

/* Card */

.card{
    justify-self: center;
    align-self: center;
    padding: .3rem;
    background: rgba(26, 29, 27, 0.7);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    transition: ease-in .2s;
}

.card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-footer>p{
    font-size: .5rem;
}

.card-footer>span{
    font-size: .5rem;
}

/* Hover */

.nav>button:hover{
    background: rgba(26, 29, 27, 1);
    border: 1px solid rgba(255, 166, 0, 0.5);
    box-shadow: 0 24px 32px 0 rgba( 31, 38, 135, 0.5 );
}

.card:hover{
    transform: scale(1.05);
}

.menu-img:hover{
    transform: scale(1.02);
}

.contact>p:hover, .contact>span:hover{
    color:orange;
    cursor: pointer;
    transform: scale(1.07);
    letter-spacing: 1px;
    transition: ease-in-out .3s;
}

.home-img:hover{
    transform: scale(1.2);
    transition: ease-in-out .5s;
}